<h1>Datos#show</h1>
<p>Find me in app/views/datos/show.html.erb</p>
<table>
<tr>
<th>Nombre</th>
<td><%= @nombre %></td>
</tr>
<tr>
<th>Correo</th>
<td><%= @email %></td>
</tr>
<th>Telefono</th>
<td><%= @telefono %></td>
</tr>
<tr>
<th>Asunto</th>
<td><%= @asunto %></td>
</tr>
<tr>
<th>Mensaje</th>
<td><%= @mensaje %></td>
</tr>
</table>