<h1>Areas de Formación</h1>
<p>Find me in app/views/forma_areas/index.html.erb</p>
<table>
    <thead>
<tr>
    <th>Id</th><th>Descripción</th><th>Objetivos</th><th colspan=2><%= link_to 'Nuevo', aformacion_nuevo_path %></th>
</tr>
</thead>
<tbody>
<%  @lista.each do |item|  %>
    <tr>
    <td><%= item.FAREAS_ID %></td>
    <td><%= item.FAREAS_DESCRIP %></td>
    <td><%= item.FAREAS_OBJETIVOS %></td>
    <td><%= link_to 'Editar', aformacion_editar_path(item.FAREAS_ID) %></td>
    <td><%= link_to 'Borrar', aformacion_borrar_path(item.FAREAS_ID), method: :delete %></td>
    </tr>   
<% end %>
</tbody>
</table>
